de/.config/tmux/plugins/
de/.local/share/icons/hicolor/
**/icon-theme.cache
*.uuid

lazy-lock.json
de/.config/dconf/user
de/.config/mpd/mpd.log
de/.config/mpd/mpd.state
de/.config/mpd/mpd.db
de/.config/mpd/mpd.pid
de/.config/nvim/spell
calendar.url
token.json
_scale.scss
__pycache__

de/.local/sv/*/supervise/
de/.local/sv/*/log/supervise/
de/.local/sv/*/log/main/
de/.local/sv/*/log/current
de/.local/sv/*/log/lock
de/.local/sv/*/log/@*
