#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: false,
    browser_column_widths: [20, 38, 42],
    background_color: None,
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    tab_bar:                (enabled: true,active_style: (fg: "#000000", bg: "#cba6f7", modifiers: "Bold"),inactive_style: (),),
    highlighted_item_style: (fg: "#f38ba8", modifiers: "Bold"),
    current_item_style:     (fg: "#000000", bg: "#cba6f7", modifiers: "Bold"),
    symbols: (song: "S", dir: "D", marker: "M ", ellipsis: "..."),
    progress_bar: (
        symbols: ["󰝤", "", ""],
        track_style: (fg: "#1e2030"),
        elapsed_style: (fg: "#cba6f7"),
        thumb_style: (fg: "#cba6f7", bg: "#1e2030"),
    ),
    scrollbar: (
                   symbols: ["│", "█", "", ""],
                   track_style: (),
                   ends_style: (),
                   thumb_style: (fg: "#cba6f7"),
               ),
    song_table_format: [
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "35%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "white"),
                default: (kind: Text("Unknown Album"), style: (fg: "white"))
            ),
            width: "35%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "10%",
            alignment: Right,
        ),
    ],

  layout: Split(
    direction: Vertical,
    panes: [
    (
        size: "12",
        pane: Split(
          direction: Horizontal,
          panes: [
          (
              size: "25",
              pane: Pane(AlbumArt),
            ),
          (
              size: "100%",
              pane: Split(
                direction: Vertical,
                panes: [
                (
                    size: "15",
                    pane: Pane(Header),
                  ),
                (
                    size: "1",
                    pane: Pane(ProgressBar),
                  ),
                (
                    size: "1",
                    pane: Pane(Tabs),
                  ),
                ]
              )
            ),
          ]
        ),
      ),
    (
        size: "100%",
        pane: Pane(TabContent),
      ),
    ],
  ),


    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "yellow", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(playing_label: "Playing", paused_label: "Paused", stopped_label: "Stopped"))), style: (fg: "yellow", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "yellow", modifiers: "Bold")),
                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "#f38ba8", modifiers: "Bold"),default: (kind: Text("No Song"), style: (modifiers: "Bold"))),
                ],
                right: [
                    (kind: Property(Widget(Volume)), style: (fg: "#cba6f7"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed))),
                    (kind: Text("/")),
                    (kind: Property(Status(Duration))),
                ],
                center: [
                    (kind: Property(Song(Album)), style: (fg: "#f38ba8", modifiers: "Bold"),default: (kind: Text("No Song"), style: (modifiers: "Bold"))),
                ],
                right: [
                    (kind: Property(Status(RepeatV2(on_label: "Repeat",   off_label: "Repeat",  on_style: (fg: "white", modifiers: "Bold"),separator_style: (fg: "white"), off_style: (fg: "dark_gray"))))),
                ]
            ),
            (
                left: [
                    (kind: Text("(")),
                    (kind: Property(Status(Bitrate))),
                    (kind: Text(" kbps)"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#f38ba8", modifiers: "Bold"),default: (kind: Text("No Song"), style: (modifiers: "Bold"))),
                ],
                right: [
                    (kind: Property(Status(RandomV2(on_label: "Random",   off_label: "Random",  on_style: (fg: "white", modifiers: "Bold"),separator_style: (fg: "white"), off_style: (fg: "dark_gray"))))),
                ]
            ),
            (
                left: [
                    (kind: Property(Status(QueueLength(thousands_separator: ","))))
                ],
                center: [
                ],
                right: [
                    (kind: Property(Status(ConsumeV2(on_label: "Consume", off_label: "Consume", oneshot_label: "(Comsume)", on_style: (fg: "white", modifiers: "Bold"),separator_style: (fg: "white"), off_style: (fg: "dark_gray"))))),
                ]
            ),
            (
                left: [
                ],
                center: [
                ],
                right: [
                    (kind: Property(Status(SingleV2(on_label: "Single", off_label: "Single", oneshot_label: "(Single)", on_style: (fg: "white", modifiers: "Bold"),separator_style: (fg: "white"), off_style: (fg: "dark_gray"))))),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)

