* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14.5px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background-color: #313244;
  color: #cdd6f4;
}

.modules-left {
  background-color: #313244;
  padding: 0;
}

.modules-right {
  background-color: #313244;
  padding: 0 0px 0 0;
}

#tags {
  background-color: #313244;
}

#tags button {
  padding: 0 0;
  min-width: 1px;
  color: #7f849c;
  background-color: #313244;
  border: none;
  margin: 0;
}

#tags button.occupied {
  color: #7f849c;
  background-color: #313244;
  padding: 0 9;
}

#tags button.focused {
  background-color: #cba6f7;
  color: #cdd6f4;
  padding: 0 9;
}

#tags button:hover {
  background-color: #cba6f7;
  color: #cdd6f4;
  padding: 0 9;
}

#tags button.urgent {
  background-color: #f38ba8;
  color: #11111b;
}

#window {
  color: #cdd6f4;
  background-color: #45475a;
  padding: 0 0px;
  margin: 0;
}

window#waybar.empty #window {
  background-color: transparent;
  color: transparent;
}

window#waybar.empty {
  background-color: #313244;
}

#network,
#temperature,
#backlight,
#pulseaudio,
#pulseaudio\#input,
#battery,
#cpu,
#memory {
  padding: 0 10px;
  background-color: #313244;
}

#clock {
  margin: 0 10px;
  padding: 0 5px;
  color: #f2cdcd;
}

#tray {
  padding: 0 8px 0 5px;
  margin: 0 5px;
}

#battery.critical {
  color: #f38ba8;
}

#battery.warning {
  color: #fab387;
}

#network.disconnected {
  color: #f38ba8;
}

#memory {
  color: #89dceb;
}

#cpu {
  color: #a6e3a1;
}

#pulseaudio {
  color: #fab387;
}

#network {
  color: #cba6f7;
}

#custom-power {
  color: #f38ba8;
  padding: 0 10px;
}
